.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homePageImg {
  position: absolute;
  top: 5.5%;
  left: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 80%;
  z-index: -99;
  opacity: 1;
}

.homePageText {
  position: absolute;
  font-family: "Poppins", sans-serif;
  top: 15%;
  right: 5%;
  text-align: right;
  width: 100%;
  color: white;
  text-shadow: 2px 2px #000000;
  font-size: 40px;
}

.headshot {
  height: 30%;
  width: 30%;
  display: block;
}

.quickAboutMe {
  top: 105%;
  left: 10%;
  max-width: 100%;
  position: absolute;
  display: inline-flex;
  margin-bottom: 40px;
}
.welcome {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 90%;
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 60px;
}
.quickAboutMeText {
  font-family: "Poppins", sans-serif;
  padding: 0% 10%;
  width: 60%;
  text-align: center;
  font-size: 18px;
}
.socialMedia {
  padding: 5%;
  display: inline-flex;
  height: 100px;
  width: 100px;
}

.navbar {
  position: fixed;
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 193, 212, 1);
  text-align: left;
  height: 30px;
  color: white;
  font-size: 25px;
  width: 100%;
  padding: 20px 40px;
}
.navbarText {
  padding: 5px;
  color: white;
}

a:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
label:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.bottomNav {
  background-color: rgba(0, 193, 212, 1);
  font-family: "Oswald", sans-serif;
  font-size: 1px;
  color: white;
  bottom: 0;
  height: 30px;
  text-align: left;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
}

.pageHeaders {
  top: 10%;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
}

.resume {
  position: absolute;
  align-content: center;
  top: 20%;
}

.contactInfo {
  background-color: rgba(0, 193, 212, 1);
  padding: 50px 40px 40px 30px;
  top: 60%;
  left: 30%;
  width: 40%;
  position: absolute;
  display: inline-grid;
  border: 10px white solid;
  border-radius: 10px;
}

.aboutMeImg {
  margin-top: 50px;
  height: 33%;
  width: 33%;
  display: block;
}

.aboutMeText {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  padding: 0% 10%;
  width: 70%;
  text-align: center;
  font-size: 18px;
}

.screenshots {
  margin-top: 2%;
  width: 650px;
  height: 325px;
}

.project {
  display: inline-block;
  font-size: 25px;
  background-color: rgba(0, 193, 212, 1);
  border: 3px white solid;
  color: white;
  margin: 2%;
  width: 750px;
  height: 450px;
  align-content: center;
}

label {
  padding-top: 3%;
  color: white;
}
